@font-face {
  font-family: "Street Fighter";
  src: url("../fonts/streetfighter.ttf") format("truetype")
}


.inline-icon {
  vertical-align: bottom;
  font-size: 18px !important;
}

.btn-floating.btn-provoc {
  height: 76px;
  width: 76px;
  bottom: -18px !important;
  right: -18px !important;
}

.btn-floating.btn-provoc i {
  line-height: 76px;
  font-size: 2.6em;
}
.btn-floating.btn-provoc img {
  height: 45px;
  margin-top: 16px;
  margin-right: 2px;
  transition: all 0.25s;
}

.btn-floating.btn-provoc:hover img {
  transform: scale(1.2);
  transform-origin: 50% 50%;
}

.mouse-pointer {
  cursor: pointer;
}

.z-index-max {
  z-index: 99;
}
.z-index-medium {
  z-index: 50;
}
.z-index-min {
  z-index: 1;
}

.sports-reveal {
  margin-top: 15px;
}

.star-valign {
  vertical-align: -3px;
}

.rm-padding-bottom {
  padding-bottom: 0 !important;
}


.badge-notification::after{
  margin: 0px 7px;
  content: '1';
  background-color: #F44336;
  padding: 0px 5px;
  border-radius: 50% 50%;
  color: white;
}


.logo-main{
  font-family: "Street Fighter";
  font-size: .8em;
  margin-left: 5px;
}

.progress-bar {
  background: linear-gradient(to right, #a2ea4c 8em, #07aa91 10px, #07aa91);
  color: rgba(0,0,0,0);
  border-radius: 5px;
  height: 10px;
  margin-top: calc(64px/2 - 5px);
  padding-left: 6em;
}

.nav-wrapper{
  /* background-color:  #400807CC !important; */
  background-color:  #000000 !important;
}
.sidenav{
  top: 65px;
}
.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.silverImg{
  width: 50px;
}
.goldImg{
  width: 50px; margin-left: 21em;
}

.btn-floating.redCircle{
  bottom: inherit !important; 
  right: inherit !important; 
  height: 3em; width: 3em !important;
}

.btn-floating.btn-large-redCircle{
  bottom: inherit !important; 
  right: inherit !important; 
  height: 3em; width: 3em !important;
}

.btn-floating.btn-redCircle i {
  line-height: 76px;
  font-size: 2.6em;
}

.btn-floating.btn-redCircle img {
  height: 29px;
  margin-top: 8px;
  margin-right: 2px;
  transition: all 0.25s;
}

.btn-floating.btn-redCircle:hover img {
  transform: scale(1.2);
  transform-origin: 50% 50%;
}
.miniProvocImg{
  height: 29px; margin-top: 8px;
}

.alignRank{
  vertical-align:top;
}